@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("./images/heart.png"), auto;
}

body:active {
  cursor: url("./images/heart2.png"), auto;
}

.custom-cur {
  cursor: url(./images/heart.png) auto;
}

h1 {
  color: #ffd600;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 50px;
}

.scorebox {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 0px 250px;
  margin-left: 100px;
}

.encima {
  position: absolute;
  margin-left: 120px;
}

.particles-js-canvas-el {
  height: 1000px !important;
}

h2.points {
  text-align: center;
  margin-right: 3rem;
  color: whitesmoke;
}

h2.time {
  text-align: center;
  margin-right: 3rem;
  color: whitesmoke;
}

.row {
  border: 0px solid;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.outer {
  border: 0px solid;
  width: 300px;
  height: 250px;
  margin-left: 20px;
  float: left;
  margin-right: auto;
  margin-top: 20px;
}

.inner {
  background-color: white;
  border: 4px dotted #ffd600;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.points {
  position: center;
}

#points {
  color: #ffd600;
}

#timeLeft {
  color: orangered;
}

img {
  width: 230px;
  position: relative;
  top: 100%;
  animation: popup 1.5s infinite;
}

@keyframes popup {
  50% {
    top: 1%;
  }
}

#diglett1 {
  animation-delay: 4s;
  -webkit-filter: hue-rotate(180deg);
}

#diglett2 {
  animation-delay: 5s;
  -webkit-filter: contrast(1000%);
}
#diglett3 {
  animation-delay: 1s;
  -webkit-filter: grayscale(67%);
}
#diglett4 {
  animation-delay: 0.5s;
  -webkit-filter: contrast(200%);
}
#diglett5 {
  animation-delay: 3s;
}
#diglett6 {
  animation-delay: 10s;
  -webkit-filter: hue-rotate(90deg);
}
#sandshrew {
  animation-delay: 0.25567675785758s;
}
